body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 150px;
}

/* Top Banner Section CSS Starts */
.top-banner{
    background-image: url(/img/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.link-button{
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.half-width img{
    width: 100%;
    border-radius: 20px;
    margin: auto;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
/* Top Banner Section CSS Ends */


/* Dream Big Section Starts */
.dream-big{
    display: flex;
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* Dream Big Section Ends */